.Heading{
    font-size: 16px;
    font-weight: 600;
    color: var(--Primary);
    margin: 0px;
}

.RightSideForm{
    display: flex;
    padding: 15px;
    flex-direction: column;
    gap: 1rem;
}

.row{
    display:flex;
    gap:1rem
}
.rowFull{
    display: flex;
    flex-direction: column;
    gap:.5rem;
}
.col{
    display:flex;
    flex-direction: column;
    width:49%;
    gap:.5rem;
}

.col >span , .rowFull>span{
    font-size: 16px;
    font-weight: 600;
    color: var(--HeadingText);

}

.col >input,.rowFull>input{
    border: 1px solid var(--Stroke);
    border-radius: 10px;
    padding: 15px;
}

.col> select{
    border: 1px solid var(--Stroke);
    border-radius: 10px;
    padding: 10px;
}
.time{
    border: 1px solid var(--Stroke);
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding:10px;
    border-radius: 10px;
}
.time > input{
    outline:transparent;
    border:transparent;
    width:90%;
}