.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 5px 30px;
    border-bottom: 1px solid var(--Stroke);
    box-shadow: 0px 2px 6px var(--Stroke);
  
}
.header__title{
    display: flex;
    flex-direction: column;
}
.text{
    font-size: 10px;
    margin-top: 5px;
}

.header__search{
    width: 25%;
    max-width: 285px;
    height: 27px;
    padding: 3px 6px;
    border-radius: 8px;
    border: 1px solid #B1B1B1;
    gap: 10px;
    display:flex;
    align-items:center;
}

.header__search > input{
    outline: transparent;
    border: transparent;
    max-width: 260px;
    width: 90%;
    
}

.Recruiter{
    font-size: x-large;
    font-weight: bold;
    width: 103px;
    height: 20px;
    color: var(--Primary);
}

.header__dashboard ,.header__AppliedJob,.header__FindJob {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--BodyText2);
}
.ring{
    position:relative;
}
.red__Dot{
    position:absolute;
    border:3px solid var(--Error);
    top: 3px;
    left: 12px;
    border-radius: 50%;
}

.separator{
    border:1px solid var(--Stroke);
    height:20px;
}

.Dropdown{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    gap: 6px;
    width: 120px;
    /* height: 39px; */

    background: #DFE6EB;
    border-radius: 7px;
}

.Dropdown__avatar{
    width: 27px;
    height: 27px;
    border-radius: 50%; 
}

.Dropdown__Arrow{
    width: 0;
    height: 0;
    border-top: 9px solid var(--Primary);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;   
    cursor: pointer;
}

.Dropdown__title{
    width: 60px;
    height: 22px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1363DF;
}
.RotateElement{
    transform: rotate(180deg);
}

.Drop__down__menu{
    position:absolute;
    background-color:var(--Background);
    top:64px;
    right:45px;
    padding:13px;
    border: 1.5px solid var(--Stroke);
    box-shadow: 0px 7px 20px 0px #0000000F;
    border-radius: 15px;

}
.option{
    color: var(--Secondary);
    font-size: 16px;
    font-weight: 400;
    margin:9px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px
}

.option:hover{
    cursor:pointer;
}

.Dropdown__separator{

    width: 154px;
    border: 1px solid var(--Stroke);
    height: 0px;
    align-self: center;
}

.MyIcon{
    width: 14px;
    height: 14px;
    color: var(--Secondary);
}

.LogOutIcon{
    width: 14px;
    height: 14px;
    color: var(--Error);
}

.StarIcon{
    width: 14px;
    height: 14px;
    color: #FBBC05;
}